@model IEnumerable<Reservatioan.Models.datee>


    <div>
        
            <table class="table" style="margin-top: 30px;" >
                <tbody>
                @{
                    int j = 0;
         
                }

                @for (int i = 0 ; i < Model.Count()/3; i++)
                {

                    j=i*3;  

                 
                    <tr>
                        <td style="padding: 30px;">
                

                            <div class="row @Model.ElementAt(j).theme" style="padding: 30px;">
                                <a href="../Home/ReservePerDay?date=@Model.ElementAt(j).date&meal=@Model.ElementAt(j).meal">
                                    <div class="col-md-8">
                                        <p>@Model.ElementAt(j).date</p>
                                        <p>رستوران یک</p>
                                    </div>
                                    <div class="col-md-4"><span> <img src="~/Resources/Spoon.png" style="width: 60px; height: 60px;" /></span></div>
                                </a>
                            </div>


                        </td>
                        <td style="padding: 30px">
                            <a href="../Home/ReservePerDay?date=@Model.ElementAt(j+1).date&meal=@Model.ElementAt(j+1).meal">
                                <div class="row @Model.ElementAt(j+1).theme" style=" padding: 30px; ">
                                    <div class="col-md-8"><p>@Model.ElementAt(j+1).date</p><p>رستوران یک</p></div>
                                    <div class="col-md-4"><span > <img src="~/Resources/Spoon.png"  style="width: 60px; height: 60px;"/></span></div>

                                </div>
       
                            </a>
                        </td>
                        <td style="padding: 30px">
                            <a href="../Home/ReservePerDay?date=@Model.ElementAt(j+2).date&meal=@Model.ElementAt(j+2).meal">
                                <div class="row  @Model.ElementAt(j+2).theme" style=" padding: 30px; ">
                                    <div class="col-md-8"><p>@Model.ElementAt(j + 2).date</p><p>رستوران یک</p></div>
                                    <div class="col-md-4"><span> <img src="~/Resources/Spoon.png" style="width: 60px; height: 60px;" /></span></div>

                                </div>

                            </a>
                     
                        </td>

                     
                    
                    </tr>
                    j++;
                }
                @if (Model.Count()%3 != 0)
                {
                    <tr>
                       @if (Model.Count() % 3 ==2 )
                       {
                           <td style="padding: 30px">
                               <a href="../Home/ReservePerDay?date=@Model.Reverse().ElementAt(1).date&meal=@Model.Reverse().ElementAt(1).meal">
                                   <div class="row @Model.Reverse().ElementAt(1).theme" style=" padding: 30px; ">
                                       <div class="col-md-8"><p>@Model.Reverse().ElementAt(1).date</p><p>رستوران یک</p></div>
                                       <div class="col-md-4"><span > <img src="~/Resources/Spoon.png"  style="width: 60px; height: 60px;"/></span></div>

                                   </div>
       
                               </a>
                           </td>
                           <td style="padding: 30px">
                               <a href="../Home/ReservePerDay?date=@Model.Reverse().First().date&meal=@Model.Reverse().First().meal">
                                   <div class="row @Model.Reverse().First().theme " style=" padding: 30px; ">
                                       <div class="col-md-8"><p>@Model.Reverse().First().date</p><p>رستوران یک</p></div>
                                       <div class="col-md-4"><span > <img src="~/Resources/Spoon.png"  style="width: 60px; height: 60px;"/></span></div>

                                   </div>
       
                               </a>
                           </td>

                       }
                        @if (Model.Count() % 3 == 1)
                        {
                            <td style="padding: 30px">
                                <a href="../Home/ReservePerDay?date=@Model.Last().date&meal=@Model.Last().meal">
                                    <div class="row @Model.Last().theme " style=" padding: 30px; ">
                                        <div class="col-md-8"><p>@Model.Last().date</p><p>رستوران یک</p></div>
                                        <div class="col-md-4"><span > <img src="~/Resources/Spoon.png"  style="width: 60px; height: 60px;"/></span></div>

                                    </div>
       
                                </a>
                            </td>
                        }
                    </tr>
              
                }
                    
                } 
   

                </tbody>
            </table>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <a href="../Home/ReserveAllDay">
                    <div class="row  themeLunch" style=" padding: 30px; ">
                        <div class="col-md-8"><p>رزروهای تاریخ های غیر شیفت</p><p>رستوران یک</p></div>
                        <div class="col-md-4"><span> <img src="~/Resources/Spoon.png" style="width: 60px; height: 60px;" /></span></div>

                    </div>

                </a>
            </div>
        </div>

        </div>



        <h6 id="hi"> @Model.Count()</h6>
 
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
</script>   
<script>
    $(document).ready(function(){
        $(".row.themeLunch").hover(function(){
            $(this).css(" background-color","red");
            },
            function(){
                $(this).css(" background-color", "brown");
            }); 
    });
</script>  




