@model IEnumerable<Reservatioan.Models.datee>

    @{
        ViewBag.Title = "Home Page";
    }

    <div>
     
           
            <table class="table" style="margin-top: 30px;" >
                <tbody>
                @{
                    int j = 0;
                    string whichMeal1;
                    string whichMeal2;
                    string whichMeal3;
                }

                @for (int i = 0 ; i < Model.Count()/3; i++)
                {

                    j=i*3;  

                 
                    <tr>
                        <td style="padding: 30px;">
                      @{
                          whichMeal1= "themeLunch";
                          whichMeal2 = "themeLunch";
                          whichMeal3 = "themeLunch";
                      }

                            @if (Model.ElementAt(j).meal.Equals("sham"))
                            {
                                whichMeal1 = "themeDinner";
                            }

                            @if (Model.ElementAt(j + 1).meal.Equals("sham"))
                            {
                                whichMeal2 = "themeDinner";
                            }

                            @if (Model.ElementAt(j + 2).meal.Equals("sham"))
                            {
                                whichMeal3 = "themeDinner";
                            }

                            <div class="row @whichMeal1" style="padding: 30px;">
                                <a href="http://www.google.com">
                                    <div class="col-md-8">
                                        <p>@Model.ElementAt(j).date</p>
                                        <p>رستوران یک</p></div>
                                    <div class="col-md-4"><span > <img src="~/Resources/Spoon.png" style="width: 60px; height: 60px;"/></span></div>
                                </a>
                            </div>


                        </td>
                        <td style="padding: 30px">
                            <a href="../Shared/_Layout.cshtml">
                                <div class="row @whichMeal2" style=" padding: 30px; ">
                                    <div class="col-md-8"><p>@Model.ElementAt(j+1).date</p><p>رستوران یک</p></div>
                                    <div class="col-md-4"><span > <img src="~/Resources/Spoon.png"  style="width: 60px; height: 60px;"/></span></div>

                                </div>
       
                            </a>
                        </td>
                        <td style="padding: 30px">
                            <a href="../Shared/_Layout.cshtml">
                                <div class="row @whichMeal3" style=" padding: 30px; ">
                                    <div class="col-md-8"><p>@Model.ElementAt(j+ 2).date</p><p>رستوران یک</p></div>
                                    <div class="col-md-4"><span> <img src="~/Resources/Spoon.png" style="width: 60px; height: 60px;" /></span></div>

                                </div>

                            </a>
                     
                        </td>

                     
                    
                    </tr>
                    j++;
                }
                
               
               } 
               
           

                </tbody>
            </table>
            

        </div>

        
       
        <h6> @Model.Count()</h6>
       
      



