@model IEnumerable<Reservatioan.Models.datee>

@{
    ViewBag.Title = "ReserveAllDay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<h2>ReserveAllDay</h2>


<table class="table" style="margin-top: 30px;">
    <tbody>
        @{
            int j = 0;

        }

        @for (int i = 0; i < Model.Count() / 3; i++)
        {

            j = i * 3;


            <tr>
                <td style="padding: 30px;">

                <a href="../Home/ReservePerDay?date=@Model.ElementAt(j).date&meal=1">
                    <div class="row themeLunch" style="padding: 30px;">
                       
                        <div class="col-md-8">
                            <p>@Model.ElementAt(j).date</p>
                            <p>رستوران یک</p>
                        </div>
                        <div class="col-md-4"><span> <img src="~/Resources/Spoon.png" alt="spoon" style="width: 60px; height: 60px;" /></span></div>
                      
                    </div>
                </a>
                <a href="../Home/ReservePerDay?date=@Model.ElementAt(j).date&meal=2">
                    <div class="row themeDinner" style="padding: 30px;">
                      
                            <div class="col-md-8">
                                <p>@Model.ElementAt(j).date</p>
                                <p>رستوران یک</p>
                            </div>
                            <div class="col-md-4"><span> <img src="~/Resources/Spoon.png" style="width: 60px; height: 60px;" /></span></div>
                      </div>
                </a>

                </td>
                <td style="padding: 30px">
                   
                <a href="../Home/ReservePerDay?date=@Model.ElementAt(j + 1).date&meal=1">
                <div class="row themeLunch" style="padding: 30px;">
                    <div class="col-md-8">
                        <p>@Model.ElementAt(j + 1).date</p>
                        <p>رستوران یک</p>
                    </div>
                    <div class="col-md-4"><span> <img src="~/Resources/Spoon.png" style="width: 60px; height: 60px;"/></span></div>
           </div>
                </a>
                   
                <a href="../Home/ReservePerDay?date=@Model.ElementAt(j + 1).date&meal=2">
                    <div class="row themeDinner" style="padding: 30px;">
                    <div class="col-md-8">
                        <p>@Model.ElementAt(j + 1).date</p>
                        <p>رستوران یک</p>
                    </div>
                    <div class="col-md-4"><span> <img src="~/Resources/Spoon.png" style="width: 60px; height: 60px;"/></span></div>
                    </div>
                    </a>
                    
                </td>
            <td style="padding: 30px">
            <a href="../Home/ReservePerDay?date=@Model.ElementAt(j+2).date&meal=1">
            <div class="row themeLunch" style="padding: 30px;">
                       
                <div class="col-md-8">
                    <p>@Model.ElementAt(j + 2).date</p>
                    <p>رستوران یک</p>
                </div>
                <div class="col-md-4"><span> <img src="~/Resources/Spoon.png" style="width: 60px; height: 60px;" /></span></div>
                    
            </div>
            </a>
            <a href="../Home/ReservePerDay?date=@Model.ElementAt(j+2).date&meal=2">
            <div class="row themeDinner" style="padding: 30px;">
                       
                <div class="col-md-8">
                    <p>@Model.ElementAt(j + 2).date</p>
                    <p>رستوران یک</p>
                </div>
                <div class="col-md-4"><span> <img src="~/Resources/Spoon.png" style="width: 60px; height: 60px;" /></span></div>
                       
            </div>
            </a>

                </td>



            </tr>
            j++;
        }
    </tbody>
</table>




